In [2]:
%pip install scrapetube

Collecting scrapetube
  Downloading scrapetube-2.5.1-py3-none-any.whl (5.6 kB)
Requirement already satisfied: typing-extensions in c:\users\admin\anaconda3\lib\site-packages (from scrapetube) (4.3.0)
Requirement already satisfied: requests in c:\users\admin\anaconda3\lib\site-packages (from scrapetube) (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\admin\anaconda3\lib\site-packages (from requests->scrapetube) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\admin\anaconda3\lib\site-packages (from requests->scrapetube) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\lib\site-packages (from requests->scrapetube) (2022.9.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\admin\anaconda3\lib\site-packages (from requests->scrapetube) (3.3)
Installing collected packages: scrapetube
Successfully installed scrapetube-2.5.1
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -pencv-python (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\admin\anaconda3\lib\site-packages)

In [19]:
import scrapetube
import pandas as pd

In [17]:
partial_titles = ["Halla Bol", "Sawal Public Ka", "News Hour", "Poochta Hai Bharat", "Aar Paar", "Hoonkar LIVE", "Prime Time", "Left Right & Centre", "The Big Fight", "Desh Nahin Jhukne Denge"]

In [42]:
column_names = ['video_id','partial_title']
videos_df = pd.DataFrame(columns = column_names)

In [43]:
for title in partial_titles:
    videos = scrapetube.get_search(query = title,limit = 150)
    # Extract video ids and create a DataFrame
    video_ids = [video['videoId'] for video in videos]
    partial_df = pd.DataFrame({'video_id': video_ids, 'partial_title': title})

    # Append the current DataFrame to the main DataFrame
    videos_df = pd.concat([videos_df, partial_df], ignore_index=True)
videos_df.head()

      video_id partial_title
0  -4UwKadKX5w     Halla Bol
1  Nq2wYlWFucg     Halla Bol
2  p5YTMNqdU68     Halla Bol
3  hLndY2QCZiU     Halla Bol
4  3iAf9FMqSNc     Halla Bol

In [44]:
print(videos_df)

         video_id            partial_title
0     -4UwKadKX5w                Halla Bol
1     Nq2wYlWFucg                Halla Bol
2     p5YTMNqdU68                Halla Bol
3     hLndY2QCZiU                Halla Bol
4     3iAf9FMqSNc                Halla Bol
...           ...                      ...
1495  H8219dLMw14  Desh Nahin Jhukne Denge
1496  ts5aTexsNio  Desh Nahin Jhukne Denge
1497  KncGhr4xUoM  Desh Nahin Jhukne Denge
1498  t6Zyf47Dme4  Desh Nahin Jhukne Denge
1499  Z9q-esNkVcE  Desh Nahin Jhukne Denge

[1500 rows x 2 columns]

In [46]:
videos_df.shape

(1500, 2)

In [47]:
file_name = 'show_videos.xlsx'
 
# saving the excel
videos_df.to_excel(file_name)

In [55]:
import os
import googleapiclient.discovery

# Set your YouTube API key as an environment variable
os.environ["YOUTUBE_API_KEY"] = "AIzaSyCbYfOT3h3B3DQ0tJZuTu4cfcNwAhzP2YE"

# Read the Excel file into a pandas DataFrame
df = pd.read_excel("show_videos.xlsx")  # Replace with the actual file name

# List of channel names to check
channels_to_check = ["News18 India", "Zee News", "TIMES NOW Navbharat","TIMES NOW","Republic Bharat","News18 India","Aaj Tak","ABP NEWS","NDTV India","NDTV"]  # Add your channel names here

# Initialize the YouTube Data API client
youtube = googleapiclient.discovery.build("youtube", "v3", developerKey=os.environ["YOUTUBE_API_KEY"])

df.head()

   Unnamed: 0     video_id partial_title
0           0  -4UwKadKX5w     Halla Bol
1           1  Nq2wYlWFucg     Halla Bol
2           2  p5YTMNqdU68     Halla Bol
3           3  hLndY2QCZiU     Halla Bol
4           4  3iAf9FMqSNc     Halla Bol

In [56]:
df.columns

Index(['Unnamed: 0', 'video_id', 'partial_title'], dtype='object')

In [57]:
df.drop(['Unnamed: 0'], axis=1,inplace=True)
df

         video_id            partial_title
0     -4UwKadKX5w                Halla Bol
1     Nq2wYlWFucg                Halla Bol
2     p5YTMNqdU68                Halla Bol
3     hLndY2QCZiU                Halla Bol
4     3iAf9FMqSNc                Halla Bol
...           ...                      ...
1495  H8219dLMw14  Desh Nahin Jhukne Denge
1496  ts5aTexsNio  Desh Nahin Jhukne Denge
1497  KncGhr4xUoM  Desh Nahin Jhukne Denge
1498  t6Zyf47Dme4  Desh Nahin Jhukne Denge
1499  Z9q-esNkVcE  Desh Nahin Jhukne Denge

[1500 rows x 2 columns]

In [58]:
data = []

# Iterate through each row in the DataFrame
for index, row in df.iterrows():
    video_id = row["video_id"]
    show_name = row["partial_title"]

    # Use the YouTube Data API to get video details
    video_response = youtube.videos().list(part="snippet", id=video_id).execute()

    # Extract the channelId from the video details
    channel_id = video_response["items"][0]["snippet"]["channelId"]

    # Use the YouTube Data API to get channel details
    channel_response = youtube.channels().list(part="snippet", id=channel_id).execute()
    
    if "items" in channel_response:
        # Extract the channel title (name)
        channel_name = channel_response["items"][0]["snippet"]["title"]

        # Check if the channel name is in the list of channels to check
        if channel_name in channels_to_check:
            # Append data to the list
            data.append({"VideoId": video_id, "Channel": channel_name, "ShowName": show_name})

# Create a new DataFrame from the list of data
result_df = pd.DataFrame(data)

# Print or save the resulting DataFrame
print(result_df)
result_df.to_excel("channel_videos.xlsx", index=False)

         VideoId       Channel                 ShowName
0    -4UwKadKX5w       Aaj Tak                Halla Bol
1    Nq2wYlWFucg       Aaj Tak                Halla Bol
2    p5YTMNqdU68       Aaj Tak                Halla Bol
3    hLndY2QCZiU       Aaj Tak                Halla Bol
4    3iAf9FMqSNc       Aaj Tak                Halla Bol
..           ...           ...                      ...
887  H8219dLMw14  News18 India  Desh Nahin Jhukne Denge
888  ts5aTexsNio  News18 India  Desh Nahin Jhukne Denge
889  KncGhr4xUoM  News18 India  Desh Nahin Jhukne Denge
890  t6Zyf47Dme4  News18 India  Desh Nahin Jhukne Denge
891  Z9q-esNkVcE  News18 India  Desh Nahin Jhukne Denge

[892 rows x 3 columns]

In [59]:
result_df.head()

       VideoId  Channel   ShowName
0  -4UwKadKX5w  Aaj Tak  Halla Bol
1  Nq2wYlWFucg  Aaj Tak  Halla Bol
2  p5YTMNqdU68  Aaj Tak  Halla Bol
3  hLndY2QCZiU  Aaj Tak  Halla Bol
4  3iAf9FMqSNc  Aaj Tak  Halla Bol